body{
  background-color: #eaf6f6;
  text-align: center;
  font-size: 1.5rem;
}
h1{
  text-align: center;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}
h2{
  font-weight: 600;
  line-height: 1.5;
  font-size: 2rem;
  text-align: left;
}

td {
  height: 20px;
}

 #O{
   margin-left: 5px;
 }
