body{
background-color: #eaf6f6;
margin-left: 30px;
}
h1{
  text-align: center;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}
h3{
  font-weight: 600;
  margin-bottom: 0;
  margin-right: 0;
  font-size: 2rem;
  text-align: left;
}

th{
  text-align: center;
  width: 150px;
  border: solid;
}

.but{
  margin: 10px 10px;
}
